src/main/java/learnSoap/wsdl/Dictionary/cheques.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:amp="http://soprabanking.com/amplitude" elementFormDefault="qualified" targetNamespace="http://soprabanking.com/amplitude">
  <xs:include schemaLocation="./commons.xsd" />
  <xs:include schemaLocation="./commons.xsd" />
  <xs:include schemaLocation="./meansOfPayment.xsd" />
  <xs:complexType name="getChequeBookRequestListRequest">
    <xs:annotation>
      <xs:documentation>
        <definition>Liste des demandes de chéquiers : flux de requête</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="branch" type="amp:branch" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Agence</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestNumber" type="amp:eventNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Numéro de demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="account" type="amp:accountIdentifierOurBranch" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Numéro de compte</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deliveryMethod" type="amp:chequeBookDeliveryMethod" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Mode d¿expédition du chéquier</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestDate" type="amp:comparisonDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Date de la demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customisationDate" type="amp:comparisonDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Date de personnalisation</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deliveryDate" type="amp:comparisonDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Date de remise</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destructionDate" type="amp:comparisonDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Date de destruction</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModificationDate" type="amp:comparisonDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Date de dernière modification</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestSituation" type="amp:chequeBookRequestSituation" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Situation de la demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestStatus" type="amp:chequeBookRequestStatus" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Etat de la demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="remittanceBranch" type="amp:branch" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Agence de remise du chéquier</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalRequestedChequeBooksNumber" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Nombre total de chéquiers commandés : somme des bkdchc.nbd pour la demande de chéquier bkdch.eve.</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChequeBookRequestResponse">
    <xs:annotation>
      <xs:documentation>
        <definition>Demande de chéquier : Héritage des données de la requête `getChequeBookRequestListRequest¿</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="amp:getChequeBookRequestListRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getChequeBookRequestListResponse">
    <xs:annotation>
      <xs:documentation>
        <definition>Liste des demandes de chéquiers : flux de réponse</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="getChequeBookRequestResponse" type="amp:getChequeBookRequestResponse" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="chequeTitle">
    <xs:annotation>
      <xs:documentation>
        <definition>Edition de l¿intitulé d¿un chéque</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="chequeBookAttributeCode">
    <xs:annotation>
      <xs:documentation>
        <definition>Code attribut d¿un type de chéquier</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="chequeBookTypeCode">
    <xs:annotation>
      <xs:documentation>
        <definition>Code d'un type de chéquier</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="existingAddressToBeUsed">
    <xs:annotation>
      <xs:documentation>
        <definition>Choix de l¿adresse existante en base parmi des types fixes</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="CC" />
      <xs:enumeration value="C" />
      <xs:enumeration value="S" />
      <xs:enumeration value="CH" />
      <xs:enumeration value="D" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="chequeBookAttributes">
    <xs:annotation>
      <xs:documentation>
        <definition>Attributs liés au type de chéquier</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attribute1" type="amp:chequeBookAttributeCode" minOccurs="0" />
      <xs:element name="attribute2" type="amp:chequeBookAttributeCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chequeBookTypeAndNumber">
    <xs:annotation>
      <xs:documentation>
        <definition>Type et nombre de chéquiers</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="chequeBookType" type="amp:chequeBookTypeCode" />
      <xs:element name="chequeBookNumber" type="xs:positiveInteger" />
      <xs:element name="attributes" type="amp:chequeBookAttributes" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="useAnExistingAddress">
    <xs:annotation>
      <xs:documentation>
        <definition>Utilisation d'une adresse existante en base</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="existingAddressToBeUsed" type="amp:existingAddressToBeUsed" minOccurs="0" />
      <xs:element name="codingAddressType" type="amp:charMax2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Type paramétré de l'adresse</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="chequeBookDeliveryAddress">
    <xs:annotation>
      <xs:documentation>
        <definition>Adresse de délivrance du chéquier (en cas d¿envoi)</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="useAnExistingAddress" type="amp:useAnExistingAddress" minOccurs="0" />
      <xs:element name="otherAddress" type="amp:createCustomerAddressRequest" minOccurs="0" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="chequeBookDeliveryPlace">
    <xs:annotation>
      <xs:documentation>
        <definition>Lieu de délivrance du chéquier</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="remittanceBranch" type="amp:branchCode" minOccurs="0" />
      <xs:element name="deliveryAddress" type="amp:chequeBookDeliveryAddress" minOccurs="0" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="chequeBookRequestOrigin">
    <xs:annotation>
      <xs:documentation>
        <definition>origine de la demande de chéquier</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="customerOrThirdPartyCode" type="amp:customerOrThirdPartyCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>code du client ou du tiers</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="powerOfAttorneyNumber" type="amp:standardBillOfExchangeAttorneyId" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <definition>Numéro de procuration</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="createChequeBookRequestRequest">
    <xs:annotation>
      <xs:documentation>
        <definition>Création d'une demande de chéquier : flux de requête</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="branchCode" type="amp:branchCode">
        <xs:annotation>
          <xs:documentation>
            <definition>Code agence</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="account" type="amp:internalAccountKey">
        <xs:annotation>
          <xs:documentation>
            <definition>Numéro de compte</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chequeBookRequestOrigin" type="amp:chequeBookRequestOrigin">
        <xs:annotation>
          <xs:documentation>
            <definition>Origine de la demande de chéquier</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deliveryMethod" type="amp:chequeBookDeliveryMethod">
        <xs:annotation>
          <xs:documentation>
            <definition>mode d¿expédition du chéquier</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chequeBookDeliveryPlace" type="amp:chequeBookDeliveryPlace">
        <xs:annotation>
          <xs:documentation>
            <definition>Lieu d expédition du chéquier</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chequeBookTypeAndNumber" type="amp:chequeBookTypeAndNumber" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <definition>Types de chéquiers de la commande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="chequeBookRequestStatus">
    <xs:annotation>
      <xs:documentation>
        <definition>Etat de la demande de chéquier</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="IF" />
      <xs:enumeration value="AT" />
      <xs:enumeration value="VF" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="AB" />
      <xs:enumeration value="IG" />
      <xs:enumeration value="FO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="chequeBookRequestSituation">
    <xs:annotation>
      <xs:documentation>
        <definition>Situation de la demande de chéquier</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="R" />
      <xs:enumeration value="P" />
      <xs:enumeration value="D" />
      <xs:enumeration value="S" />
      <xs:enumeration value="E" />
      <xs:enumeration value="C" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="createChequeBookRequestResponse">
    <xs:annotation>
      <xs:documentation>
        <definition>Création d'une demande de chéquier : flux de réponse</definition>
        <origin>SopraBankingSoftware</origin>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="requestNumber" type="amp:eventNumber">
        <xs:annotation>
          <xs:documentation>
            <definition>Numéro de demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            <definition>Date de la demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valueDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            <definition>Date de valeur</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestSituation" type="amp:chequeBookRequestSituation">
        <xs:annotation>
          <xs:documentation>
            <definition>Situation de la demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestStatus" type="amp:chequeBookRequestStatus">
        <xs:annotation>
          <xs:documentation>
            <definition>Etat de la demande</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="charges" type="amp:decimal19_4">
        <xs:annotation>
          <xs:documentation>
            <definition>Frais appliqués sur la demande de chéquiers</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disapprovals" type="amp:disapproval" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <definition>Désaccords (max 5)</definition>
            <origin>SopraBankingSoftware</origin>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
